@import url(//fonts.googleapis.com/css?family=Lato:700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans+Condensed:300);
@import url(//fonts.googleapis.com/css?family=Pompiere);

@media only screen and (max-device-width: 768px) {
	.wrap{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 0 0 0;
		width: 100% !important;
		background: #fff !important;
	}
	.container{
		background: #fff;
		min-height: 550px;
		height: auto !important;
		height: 550px;
	}
	.dataTables_info, .dataTables_length, .dataTables_filter {
		font-family: 'Lato', sans-serif;
		color: #000000;
		text-shadow: 0px 0px 0px !important;
	}
	table{
	    table-layout: fixed;
	}
	th{
		width: 150px !important;
	}
	canvas{
		height: 1000 !important;
	}
	.labeled-chart-container {
	    padding-right: 130px;
	}
	.doughnut-legend {
	list-style: none !important;
	position: relative !important;
	right: 8px !important;
	top: 0 !important;
	}
}

* {
margin: 0;
}

.top-bar ul li a{
	font-family: 'Oswald', sans-serif !important;
}
dl.tabs dd a{
	font-family: 'Oswald', sans-serif !important;
	color: #000000;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}

html, body {
	height: 100%;
	font-family:'Lato', sans-serif;
	color: #999;
}
.top{
	-webkit-box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
}

.welcome {
	width: auto;
	height: 350px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: 60px;
	-webkit-box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
	}


.title-div {
	text-align: center;
	background-image: url(../img/logo_alex.png);
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: center bottom;
	#opacity: 0.6;
    #filter: alpha(opacity=60); /* For IE8 and earlier */
	-webkit-box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 15px 16px rgba(0,0,0,0.8);
}
p.tit {
	margin:0;
	line-height:400px;
}
span.tit1{
	font-family: 'Oswald', sans-serif;
	color: #000000;
	font-size: 50px;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}
span.tit2{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #0a5175 !important;
	font-size: 50px;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}

a, a:visited {
	text-decoration:none;
}

h1 {
	font-size: 32px;
	margin: 16px 0 0 0;
}
h3, h2 {
	font-family: 'Oswald', sans-serif;
	color: #000000;
	font-size: 40px;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}
th {
	font-family: 'Oswald', sans-serif;
	color: #000000;
	text-align: center !important;
}
.dataTables_info, .dataTables_length, .dataTables_filter {
	font-family: 'Oswald', sans-serif;
	color: #000000;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}
button.DTTT_button, div.DTTT_button, a.DTTT_button{
	font-family: 'Oswald', sans-serif;
	color: #000000;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}
.wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0em;
	width: 80%;
}

.header{
	font-family: 'Lobster', cursive;
	font-size: 35px;
	color: #0a5175;
	display: table;
	height: 60px;
	width: 100%;
}

.top-bar .name h1 {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.my-modal{
position: relative !important;
font-size: 12px !important;
}



.zselect {
margin: 0 0 1rem 0;
-webkit-appearance: none !important;
background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
background-position: 97% center;
/*background-position-x: 97%;
background-position-y: center;*/
border: 1px solid #cccccc;
padding: 0.70rem;
font-size: 0.77778rem;
-webkit-border-radius: 0;
border-radius: 0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.zselect ul{
display:block;
position:absolute;
background-color:#fafafa;
border: 1px solid #cccccc;
border-top:none;
padding:0;
margin:11px 0 0 -0.76rem;
z-index:10;
list-style-type: none;
display:none;
}
.zselect span.zmshead{
font-size: 0.9rem;
}
.zselect ul li{
padding:4px 0.70rem 0px 0.70rem;
font-size:0.9rem;
}
.zselect ul li span{
}
.zselect ul li.disabled{
color:#808080;
}
.zselect ul li:hover{
background-color:#2672EC;
color: #fff;
}
.zselect ul li.zmsfilter,
.zselect ul li.zmsfilter:hover,
.zselect ul li.filterResult,
.zselect ul li.filterResult:hover,
.zselect ul li.optgroup,
.zselect ul li.optgroup:hover{
background-color:transparent;
color: #000;
}
.zselect ul li.zmsfilter input{
margin-bottom:0.3rem;
}
.zselect ul li input[type='checkbox']{
padding:0;
margin:0;
}
.zselect ul li.filterResult{
font-size: 0.8em;
}
.zselect ul li.optgroup{
font-weight: bold;
cursor:pointer;
}
.zselect ul li.selectall{}
.zselect ul li.deselectall{}

#footer{
	background-color: #d8d8d8;
}

.callout {
	font-family: 'Lobster', cursive;
  	font-size: 35px;
  	display: table;
  	width: 100%;
  	height: 200px;
  	background: url(../img/logo_alex.png) no-repeat center bottom fixed;
    -webkit-background-size: 150px;
    -moz-background-size: 150px;
    -o-background-size: 150px;
  	background-size: 150px;
}


.footer, .push {
height: 4em;
}


.footer-text{
	position: absolute;
	bottom: 0;
}


.container-footer{
	height:100px;
	width: 300px;
	position: relative;
	padding: 10px;
}
.main-section{
	background: rgba(20,110,255,.2);
}
.container{
	background: #fff;
	padding: 15px;
	margin: 20px;
	min-height: 550px;
    height: auto !important;
    height: 550px;
}
.doughnut-legend {
  list-style: none;
  position: absolute;
  right: 8px;
  top: 0;
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}
.labeled-chart-container {
  padding-right: 150px;
  min-height: 180px;
  position: relative;
}
.canvas-holder {
  padding: 4px 0;
  margin: 20px 0;
  position: relative;
}
.chart{
	background: rgba(166,194,186,.5);
}
.center{
	text-align: center;
} 